html{
	scrollbar-color: var(--scrollbar-color) #00000000;
}
body{
	padding: 0 !important;
}
main{
	padding-bottom: 0 !important;
}
.record{
	--record-text-color: #fff;
	--record-bg-color: #6F634F;
	/****************************/
	margin: 10px;
	padding: 12px;
	color: var(--record-text-color);
	background-color: var(--record-bg-color);
	border-radius: 7px;
}
.record ul{
	list-style: none;
}
.record header{
	font-size: 1.2rem;
	margin-bottom: 20px;
	padding: 9px;
	border: dashed 3px rgba(0, 0, 0, 0.5);
	border-radius: 9px;
}
.record header *{
	font-size: 1em;
}
.record header > *:not(:first-child){
	margin-top: 0.5em;
}
.record header .id,
.record header .author{
	font-size: 1.2em;
}
.record header .note{
	font-size: 0.85em;
}
main .indication{
	margin-bottom: 0.5em;
	font-size: 0.8em;
}
.record main ul{
	white-space: nowrap;
	overflow-x: scroll;
	padding-bottom: 15px;
	/* firefox */
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color) var(--basic-bg-color);
}
strong{
	background-color: #a2513f;
	font-weight: 600;
}