@use '@/abstracts/variables' as *;

.notify-btn-wrapper {
  display: inline-grid;
  grid-template-rows: 1fr;
  align-items: end;
  margin-left: auto;
  position: relative;

  * {
    grid-area: 1 / 1;
  }

  .activity.hidden & {
    display: none;
  }

  .status-message-wrapper {
    position: absolute;
    inset: 5px 0 0 0;
    clip-path: inset(0 0 -999px 0);
  }

  .status-message {
    position: absolute;
    inset: auto 0 0 0;
    display: block;
    font-size: .85em;
    background-color: $cmb-white;
    border-radius: 0 0 7px 7px;
    box-shadow: 1px 3px 10px #00000080;
    margin: 0 15px;
    padding: 7px;
    box-sizing: border-box;
    text-align: center;
    transform: translateY(-10px);
    visibility: hidden;
    transition: transform 1.1s, visibility 1.1s;

    &.error {
      background-color: $cmb-red;
      color: $cmb-white;
    }

    .status-email {
      display: inline-block;
      font-size: inherit;
      max-width: 100%;
      vertical-align: bottom;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.revealed {
      transform: translateY(100%);
      visibility: visible;
    }
  }
}

.notify-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $cmb-white;
  border: solid 2px $cmb-blue;
  color: $cmb-blue;
  padding: 0 4px;
  z-index: 20;

  &:hover,
  &:focus {
    background-color: #e3e3e3;
    border-color: $cmb-blue-hover;
    color: $cmb-blue-hover;

    .icon {
      background-color: $cmb-blue-hover;
    }
  }

  .icon {
    display: block;
    width: 1.7em;
    height: 1.7em;
    background-color: $cmb-blue;
    mask-size: contain;
    mask-repeat: no-repeat;

    &.loading {
      mask-image: url("/assets/common/img/svg/loading-spinner.svg");
    }

    &.check {
      mask-image: url("/assets/common/img/svg/check.svg");
    }

    &.mail {
      mask-image: url("/assets/common/img/svg/mail.svg");
    }
  }

  &:not(.loading) .icon.loading,
  &:not([data-subscribed="true"]) .icon.check,
  &[data-subscribed="true"].loading .icon.check {
    display: none;
  }

  .notify-text {
    margin: 7px;
    font-weight: 600;
  }
}
