html{
	--activity-bg: linear-gradient(300deg, #b7cfde, #9dcae6);
	--activity-highlight-bg: linear-gradient(300deg, #e3ddad, #debf96);
	--activity-btn-color: #f5f5f5;
	--activity-btn-bg: #4368ae;
	--activity-btn-hover-bg: #647aa3;
}

.month + .activity{
	margin-top: 5px;
}
.activity{
	margin: 25px 5px;
	width: 100%;
}
.activity .pre-wrapper .date{
	font-size: .9rem;
	color: #999;
	margin-left: 5px;
	font-weight: bold;
}
.activity .main-wrapper, .season-end{
	border: solid 1px #000;
	border-radius: 15px;
	box-shadow: 5px 5px 10px #00000080;
}
.activity .main-wrapper{
	background-image: var(--activity-bg);
}
.activity .main-wrapper > *{
	margin: 7px;
}
.activity header{
	padding-bottom: 2px;
}
.activity header .title-container{
	display: flex;
	flex-direction: row;
	align-items: center
}
.activity header .calendar{
	transform: scale(.9);
	align-self: flex-start;
}
.activity header h4{
	font-size: 1.5rem;
	text-shadow: 1px 0 #f5f5f5;
}
.activity .infos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: left;
	border-bottom: solid 1px #000;
}
.activity .infos .info{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding: 5px;
	margin: 5px;
	background-color: #f5f5f5;
	border-radius: 10px;
	box-shadow: 3px 2px 5px #00000080;
}
.activity .infos .info a:hover{
	text-decoration: underline;
}
.activity .infos .info img{
	width: 1.1rem;
	margin-right: 3px;
}
.activity footer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}
.activity footer a{
	background-color: var(--activity-btn-bg);
	color: var(--activity-btn-color);
	padding: 7px;
	box-shadow: 2px 2px 5px #00000080;
	text-shadow: 1px 1px #555;
	border-radius: 7px;
}
.activity footer a:hover{
	background-color: var(--activity-btn-hover-bg);
}
.activity.passed .main-wrapper{
	filter: grayscale(.8);
}
.activity.passed .pre-wrapper::after{
	content: " - Cette sortie est passée!";
	font-weight: bold;
	color: #d73f3f;
	font-size: .9rem;
}
#next.activity .pre-wrapper::after{
	content: " - Prochaine sortie!";
	font-weight: bold;
}
#next.activity.tomorrow .pre-wrapper::after{
	content: " - Demain!";
}
#next.activity.today .pre-wrapper::after{
	content: " - Aujourd'hui!";
}
#next.activity .main-wrapper{
	background-image: var(--activity-highlight-bg);
}
.activity .main-content a:not(.stib){
	font-style: italic;
}
.activity .main-content a:not(.stib):hover{
	text-decoration: underline;
}