html{
	--go-to-next-padding: 10px;
	--timeline-margin: 13px;
	--timeline-width: 15px;
	--timeline-border-radius: calc(var(--timeline-width)/2);
	--timeline-past-color: #ccd8e6;
	--timeline-future-color: #3663a1;
	--timeline-marker-color: #042e46;
	--timeline-marker-width: 25px;
	--timeline-arrow-width: calc(2.4 * var(--timeline-width));
	--timeline-created-margin: calc((var(--timeline-arrow-width) - var(--timeline-width))/2); /* represents the fake margin created by the arrow */
}

@keyframes bg-highlight {
	from, to, 10%, 90%{
		background-color: #d0772508;
	}
	50%{
		background-color: #d077252a;
	}
}
@keyframes go-to-right {
	from, to{
		transform: translateX(0);
	}
	50%{
		transform: translateX(6px);
	}
}
#goToNext{
	margin: 15px
			calc(var(--timeline-margin) + var(--timeline-created-margin) - var(--go-to-next-padding))
			5px;
	display: inline-block;
	font-size: 1.25rem;
}
#goToNext,
#goToNext a{
	border-radius: calc(var(--go-to-next-padding) * 2);
}
#goToNext a{
	display: inline-flex;
	align-items: center;
	position: relative;
	padding: var(--go-to-next-padding);
	padding-left: calc(var(--timeline-width) + var(--timeline-created-margin) + var(--go-to-next-padding) + 10px);
	animation: bg-highlight 5s infinite linear;
	font-size: inherit;
	font-weight: 500;
}
#goToNext a::before{
	content: "\25BA";
	position: absolute;
	left: var(--go-to-next-padding);
	font-size: 1.45em;
	animation: go-to-right 3s infinite ease-in-out;
}
#goToNext:hover{
	background-image: linear-gradient(45deg, #a3cec8, #a4dbd7);
	text-shadow: 1px 1px 2px #f5f5f5;
}

#timeline-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: center;
	margin: var(--timeline-margin);
	position: relative;
}
.timeline{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	border-radius: var(--timeline-border-radius);
	margin-right: 10px;
}
.timeline .time{
	width: var(--timeline-width);
	margin: calc(0px - var(--timeline-marker-width)/2) 0;
	box-shadow: 2px 2px 5px #000000a0;
	z-index: 2;
}
.timeline .time.past{
	background-color: var(--timeline-past-color);
	border-radius: var(--timeline-border-radius) var(--timeline-border-radius) 0 0;
	max-height: calc(100% - var(--timeline-arrow-width));
	margin-top: 0;
}
.timeline .time.future{
	background-color: var(--timeline-future-color);
	margin-bottom: 0;
	flex: 1;
}
.timeline .marker{
	background-color: var(--timeline-marker-color);
	width: var(--timeline-marker-width);
	height: var(--timeline-marker-width);
	border-radius: 50%;
	z-index: 10;
}
.timeline svg.arrow{
	fill: var(--timeline-future-color);
	width: var(--timeline-arrow-width);
	z-index: 5;
	filter: drop-shadow(2px 2px 5px #000000a0);
}
.list{
	padding: 20px 0;
	width: 100%;
}
.month .month-name{
	font-weight: 700;
}

.season-end{
	padding: 7px;
	color: #000;
	background-image: linear-gradient(135deg, #69bfc4, #BFD7B5);
	text-shadow: 0 0 5px #f5f5f5;
	margin-bottom: 25px;
}
.season-end h4{
	font-size: 1.3rem;
}
.season-end p{
	margin: 10px 0;
}
.season-end a.history-btn{
	display: inline-block;
	background-color: #f5f5f5;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #00000080;
	text-shadow: none;
	transition: box-shadow .3s;
}
.season-end a.history-btn:hover{
	background-color: #f0f0f0;
	box-shadow: 2px 2px 7px #000000d0;
}
.end{
	margin: 30px 0;
}