@keyframes slide-in {
	from{
		transform: translateX(50px);
		overflow-x: hidden;
	}
	to{
		transform: translateX(0);
		overflow-x: hidden;
	}
}

body > footer{
	background-color: var(--basic-bg-color);
	z-index: 10;
}
body > footer a:hover{
	text-decoration: underline;
}
body > footer h2{
	font-size: 1.2rem;
	margin-bottom: 5px;
}
#footer{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	overflow: hidden;
}
#texts{
	flex: 2;
	display: grid;
	min-width: 310px;
	margin: 15px;
}
#texts p{
	text-align: justify;
}
#texts .text{
	grid-row: 1/2;
	grid-column: 1/2;
	transition: visibility .4s,
				opacity .4s;
}
#texts .text:target{
	visibility: visible !important;
	opacity: 1 !important;
	animation: slide-in .4s ease-out;
}
#texts .text:not(:last-child), #texts .text:target ~ .text:not(:target){
	visibility: hidden;
	opacity: 0;
}

#texts ul{
	padding-left: 20px;
}
#credit li::first-letter{
	text-transform: uppercase;
}

#links{
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}
#utils, #legal{
	margin: 15px;
	min-width: max-content;
	flex: 1;
}
#utils ul{
	margin: 7px 0;
	border-right: solid 5px transparent;
	list-style: none;
}
#utils ul:hover{
	border-right-color: var(--basic-text-color);
}
#utils li a{
	text-transform: capitalize;
	display: block;
	margin-right: .3rem;
	width: max-content;
}
#utils li a::before{
	content: url("/assets/common/img/svg/mushroom-marker.svg");
	display: inline-block;
	margin-right: 7px;
}
#cmbLogo{
	float: left;
	margin: -.6rem 5px -.5rem 0;
	width: 10rem;
	height: 10rem;
}

#legal{
	border-right: solid 5px transparent;
	padding-right: 7px;
	height: max-content;
}
#legal:hover{
	border-color: var(--legal-text-color);
}
#legal a{
	display: block;
	color: var(--legal-text-color);
}
#legal a:not(:first-child){
	margin-top: .3rem;
}

#copy{
	flex: 100%;
	margin: 7px auto;
	text-align: center;
}