.stib {
	display: inline-block;
	width: 1.64706em;
	height: 1.52941em;
	font-size: 1em;
	line-height: 1.52941em;
	text-align: center;
	border-radius: 0.1875em;
}
.stib.line--1,.stib.line--2,.stib.line--5,.stib.line--6{color: #fff!important;}
.stib.line--1{background: #c4008f}
.stib.line--1:not(span):hover{color: #fff!important;background: #780057;}
.stib.line--2{background: #F57000}
.stib.line--2:not(span):hover{color: #fff!important;background: #a94d00;}
.stib.line--5{background: #E6B012}
.stib.line--5:not(span):hover{color: #fff!important;background: #9f7a0c;}
.stib.line--6{background: #0078AD}
.stib.line--6:not(span):hover{color: #fff!important;background: #004361;}
.stib.line--3,.stib.line--4,.stib.line--7,.stib.line--T04,.stib.line--T3,.stib.line--T7{color: #000!important}
.stib.line--3{background: #b4bd10}
.stib.line--3:not(span):hover{color: #000!important;background: #71760a;}
.stib.line--4{background: #F25482}
.stib.line--4:not(span):hover{color: #000!important;background: #e81250;}
.stib.line--T04{background: #F25482}
.stib.line--T04:not(span):hover{color: #000!important;background: #e81250;}
.stib.line--7{background: #ECE354}
.stib.line--7:not(span):hover{color: #000!important;background: #dbd018;}
.stib.line--T7{background: #ECE354}
.stib.line--T7:not(span):hover{color: #000!important;background: #dbd018;}
.stib.line--8,.stib.line--T8{color: #fff!important}
.stib.line--8{background: #0098D4}
.stib.line--8:not(span):hover{color: #fff!important;background: #006188;}
.stib.line--T8{background: #0098D4}
.stib.line--T8:not(span):hover{color: #fff!important;background: #006188;}
.stib.line--9,.stib.line--T9{color: #FFF!important;}
.stib.line--9{background: #CD5599}
.stib.line--9:not(span):hover{color: #FFF!important;background: #a53173;}
.stib.line--T9{background: #CD5599}
.stib.line--T9:not(span):hover{color: #FFF!important;background: #a53173;}
.stib.line--18{color: #000!important;background: #9EBFE3;}
.stib.line--18:not(span):hover{color: #000!important;background: #6398d2;}
.stib.line--19,.stib.line--25,.stib.line--T19,.stib.line--T25{color: #fff!important}
.stib.line--19{background: #DE3B21}
.stib.line--19:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--T19{background: #DE3B21}
.stib.line--T19:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--25{background: #991F36}
.stib.line--25:not(span):hover{color: #fff!important;background: #591220;}
.stib.line--T25{background: #991F36}
.stib.line--T25:not(span):hover{color: #fff!important;background: #591220;}
.stib.line--30,.stib.line--32,.stib.line--T30,.stib.line--T32{color: #000!important}
.stib.line--30{background: #f7e017}
.stib.line--30:not(span):hover{color: #000!important;background: #bba906;}
.stib.line--T30{background: #f7e017}
.stib.line--T30:not(span):hover{color: #000!important;background: #bba906;}
.stib.line--32{background: #F7E017}
.stib.line--32:not(span):hover{color: #000!important;background: #bba906;}
.stib.line--T32{background: #F7E017}
.stib.line--T32:not(span):hover{color: #000!important;background: #bba906;}
.stib.line--39,.stib.line--40,.stib.line--T39,.stib.line--T40{color: #fff!important}
.stib.line--39{background: #DE3B21}
.stib.line--39:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--T39{background: #DE3B21}
.stib.line--T39:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--40{background: #de3b21}
.stib.line--40:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--T40{background: #de3b21}
.stib.line--T40:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--44,.stib.line--51,.stib.line--55,.stib.line--62,.stib.line--T44,.stib.line--T51,.stib.line--T55,.stib.line--T62{color: #000!important}
.stib.line--44{background: #E3BA12}
.stib.line--44:not(span):hover{color: #000!important;background: #9c800c;}
.stib.line--T44{background: #E3BA12}
.stib.line--T44:not(span):hover{color: #000!important;background: #9c800c;}
.stib.line--51{background: #E3BA12}
.stib.line--51:not(span):hover{color: #000!important;background: #9c800c;}
.stib.line--T51{background: #E3BA12}
.stib.line--T51:not(span):hover{color: #000!important;background: #9c800c;}
.stib.line--55{background: #E3BA12}
.stib.line--55:not(span):hover{color: #000!important;background: #9c800c;}
.stib.line--T55{background: #E3BA12}
.stib.line--T55:not(span):hover{color: #000!important;background: #9c800c;}
.stib.line--62{background: #FF9EC2}
.stib.line--62:not(span):hover{color: #000!important;background: #ff5292;}
.stib.line--T62{background: #FF9EC2}
.stib.line--T62:not(span):hover{color: #000!important;background: #ff5292;}
.stib.line--81,.stib.line--T81{color: #fff!important}
.stib.line--81{background: #338C26}
.stib.line--81:not(span):hover{color: #fff!important;background: #1d5016;}
.stib.line--T81{background: #338C26}
.stib.line--T81:not(span):hover{color: #fff!important;background: #1d5016;}
.stib.line--82,.stib.line--90,.stib.line--T82{color: #000!important}
.stib.line--82{background: #9EBFE3}
.stib.line--82:not(span):hover{color: #000!important;background: #6398d2;}
.stib.line--T82{background: #9EBFE3}
.stib.line--T82:not(span):hover{color: #000!important;background: #6398d2;}
.stib.line--90{background: #9EBFE3}
.stib.line--90:not(span):hover{color: #000!important;background: #6398d2;}
.stib.line--92,.stib.line--93,.stib.line--T92,.stib.line--T93{color: #fff!important}
.stib.line--92{background: #DE3B21}
.stib.line--92:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--T92{background: #DE3B21}
.stib.line--T92:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--93{background: #E87D0D}
.stib.line--93:not(span):hover{color: #fff!important;background: #a05609;}
.stib.line--T93{background: #E87D0D}
.stib.line--T93:not(span):hover{color: #fff!important;background: #a05609;}
.stib.line--94,.stib.line--T94{color: #000!important}
.stib.line--94{background: #ffeb00}
.stib.line--94:not(span):hover{color: #000!important;background: #b3a500;}
.stib.line--T94{background: #ffeb00}
.stib.line--T94:not(span):hover{color: #000!important;background: #b3a500;}
.stib.line--42,.stib.line--97,.stib.line--T97{color: #fff!important;}
.stib.line--97{background: #991F36}
.stib.line--97:not(span):hover{color: #fff!important;background: #591220;}
.stib.line--T97{background: #991F36}
.stib.line--T97:not(span):hover{color: #fff!important;background: #591220;}
.stib.line--42{background: #338c26}
.stib.line--42:not(span):hover{color: #fff!important;background: #1d5016;}
.stib.line--52{color: #000!important;background: #ffdc01;}
.stib.line--52:not(span):hover{color: #000!important;background: #b49b00;}
.stib.line--53,.stib.line--56{color: #fff!important;}
.stib.line--53{background: #338c26}
.stib.line--53:not(span):hover{color: #fff!important;background: #1d5016;}
.stib.line--56{background: #e87d0d}
.stib.line--56:not(span):hover{color: #fff!important;background: #a05609;}
.stib.line--70{color: #000!important;background: #f7e017;}
.stib.line--70:not(span):hover{color: #000!important;background: #bba906;}
.stib.line--12,.stib.line--74{color: #fff!important}
.stib.line--74{background: #a57fb2}
.stib.line--74:not(span):hover{color: #fff!important;background: #80568f;}
.stib.line--12{background: #338c26}
.stib.line--12:not(span):hover{color: #fff!important;background: #1d5016;}
.stib.line--13,.stib.line--14{color: #000!important;}
.stib.line--13{background: #9ebfe3}
.stib.line--13:not(span):hover{color: #000!important;background: #6398d2;}
.stib.line--14{background: #ff9ec2}
.stib.line--14:not(span):hover{color: #000!important;background: #ff5292;}
.stib.line--17{color: #fff!important;background: #de3b21;}
.stib.line--17:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--20,.stib.line--21,.stib.line--27{color: #000!important}
.stib.line--20{background: #e3ba12}
.stib.line--20:not(span):hover{color: #000!important;background: #9c800c;}
.stib.line--21{background: #f7e017}
.stib.line--21:not(span):hover{color: #000!important;background: #bba906;}
.stib.line--27{background: #9ebfe3}
.stib.line--27:not(span):hover{color: #000!important;background: #6398d2;}
.stib.line--28,.stib.line--29{color: #fff!important}
.stib.line--28{background: #de3b21}
.stib.line--28:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--29{background: #e87d0d}
.stib.line--29:not(span):hover{color: #fff!important;background: #a05609;}
.stib.line--33,.stib.line--34,.stib.line--36{color: #000!important}
.stib.line--34{background: #e3ba12}
.stib.line--34:not(span):hover{color: #000!important;background: #9c800c;}
.stib.line--33{background: #FF9EC2}
.stib.line--33:not(span):hover{color: #000!important;background: #ff5292;}
.stib.line--36{background: #9ebfe3}
.stib.line--36:not(span):hover{color: #000!important;background: #6398d2;}
.stib.line--37,.stib.line--38{color: #fff!important;}
.stib.line--37{background: #306196}
.stib.line--37:not(span):hover{color: #fff!important;background: #1d3c5c;}
.stib.line--38{background: #b085b3}
.stib.line--38:not(span):hover{color: #fff!important;background: #8e5a91;}
.stib.line--41{color: #000!important;background: #9ebfe3;}
.stib.line--41:not(span):hover{color: #000!important;background: #6398d2;}
.stib.line--43,.stib.line--45,.stib.line--46,.stib.line--47,.stib.line--48,.stib.line--49{color: #fff!important;}
.stib.line--43{background: #996308}
.stib.line--43:not(span):hover{color: #fff!important;background: #503404;}
.stib.line--45{background: #b085b3}
.stib.line--45:not(span):hover{color: #fff!important;background: #8e5a91;}
.stib.line--46{background: #de3b21}
.stib.line--46:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--47{background: #b085b3}
.stib.line--47:not(span):hover{color: #fff!important;background: #8e5a91;}
.stib.line--48{background: #e87d0d}
.stib.line--48:not(span):hover{color: #fff!important;background: #a05609;}
.stib.line--49{background: #36578c}
.stib.line--49:not(span):hover{color: #fff!important;background: #213555;}
.stib.line--50{color: #000!important;background: #b5ba05;}
.stib.line--50:not(span):hover{color: #000!important;background: #6d7003;}
.stib.line--54,.stib.line--57,.stib.line--58,.stib.line--59{color: #fff!important}
.stib.line--54{background: #de3b21}
.stib.line--54:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--57{background: #de3b21}
.stib.line--57:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--58{background: #338c26}
.stib.line--58:not(span):hover{color: #fff!important;background: #1d5016;}
.stib.line--59{background: #996308}
.stib.line--59:not(span):hover{color: #fff!important;background: #503404;}
.stib.line--60,.stib.line--61,.stib.line--63{color: #000!important;}
.stib.line--60{background: #ff9ec2}
.stib.line--60:not(span):hover{color: #000!important;background: #ff5292;}
.stib.line--61{background: #f7e017}
.stib.line--61:not(span):hover{color: #000!important;background: #bba906;}
.stib.line--63{background: #9ebfe3}
.stib.line--63:not(span):hover{color: #000!important;background: #6398d2;}
.stib.line--64{color: #fff!important;background: #de3b21;}
.stib.line--64:not(span):hover{color: #fff!important;background: #9b2917;}
.stib.line--65{color: #000!important;background: #e3ba12;}
.stib.line--65:not(span):hover{color: #000!important;background: #9c800c;}
.stib.line--66,.stib.line--68,.stib.line--69,.stib.line--71{color: #fff!important}
.stib.line--66{background: #36578c}
.stib.line--66:not(span):hover{color: #fff!important;background: #213555;}
.stib.line--68{background: #ccdaa3}
.stib.line--68:not(span):hover{color: #fff!important;background: #aec46c;}
.stib.line--69{background: #e87d0d}
.stib.line--69:not(span):hover{color: #fff!important;background: #a05609;}
.stib.line--71{background: #338c26}
.stib.line--71:not(span):hover{color: #fff!important;background: #1d5016;}
.stib.line--72,.stib.line--73,.stib.line--75,.stib.line--76{color: #000!important}
.stib.line--72{background: #ff9ec2}
.stib.line--72:not(span):hover{color: #000!important;background: #ff5292;}
.stib.line--73{background: #FF9EC2}
.stib.line--73:not(span):hover{color: #000!important;background: #ff5292;}
.stib.line--75{background: #f7e017}
.stib.line--75:not(span):hover{color: #000!important;background: #bba906;}
.stib.line--76{background: #f7e017}
.stib.line--76:not(span):hover{color: #000!important;background: #bba906;}
.stib.line--77,.stib.line--78,.stib.line--79,.stib.line--80{color: #fff!important}
.stib.line--77{background: #338c26}
.stib.line--77:not(span):hover{color: #fff!important;background: #1d5016;}
.stib.line--78{background: #b085b3}
.stib.line--78:not(span):hover{color: #fff!important;background: #8e5a91;}
.stib.line--79{background: #36578c}
.stib.line--79:not(span):hover{color: #fff!important;background: #213555;}
.stib.line--80{background: #338c26}
.stib.line--80:not(span):hover{color: #fff!important;background: #1d5016;}
.stib.line--83,.stib.line--84{color: #000!important;}
.stib.line--83{background: #b5ba05}
.stib.line--83:not(span):hover{color: #000!important;background: #6d7003;}
.stib.line--84{background: #f7e017}
.stib.line--84:not(span):hover{color: #000!important;background: #bba906;}
.stib.line--85{color: #FFF!important;background: #DE3B21;}
.stib.line--85:not(span):hover{color: #FFF!important;background: #9b2917;}
.stib.line--86,.stib.line--87,.stib.line--88{color: #fff!important;}
.stib.line--86{background: #306196}
.stib.line--86:not(span):hover{color: #fff!important;background: #1d3c5c;}
.stib.line--87{background: #338c26}
.stib.line--87:not(span):hover{color: #fff!important;background: #1d5016;}
.stib.line--88{background: #991f36}
.stib.line--88:not(span):hover{color: #fff!important;background: #591220;}
.stib.line--89{color: #000!important;background: #b4bd10;}
.stib.line--89:not(span):hover{color: #000!important;background: #71760a;}
.stib.line--15,.stib.line--95{color: #fff!important;}
.stib.line--95{background: #36578c}
.stib.line--95:not(span):hover{color: #fff!important;background: #213555;}
.stib.line--15{background: #36578c}
.stib.line--15:not(span):hover{color: #fff!important;background: #213555;}
.stib.line--22{color: #000!important;background: #b5ba05;}
.stib.line--22:not(span):hover{color: #000!important;background: #6d7003;}
.stib.line--98,.stib.line--N04,.stib.line--N05,.stib.line--N06{color: #fff!important;}
.stib.line--98{background: #e87d0d}
.stib.line--98:not(span):hover{color: #fff!important;background: #a05609;}
.stib.line--N04{background: #D75395}
.stib.line--N04:not(span):hover{color: #fff!important;background: #b42a6f;}
.stib.line--N05{background: #B085B3}
.stib.line--N05:not(span):hover{color: #fff!important;background: #8e5a91;}
.stib.line--N06{background: #0098D4}
.stib.line--N06:not(span):hover{color: #fff!important;background: #006188;}
.stib.line--N08{color: #000!important;background: #9EBFE3;}
.stib.line--N08:not(span):hover{color: #000!important;background: #6398d2;}
.stib.line--N09{color: #fff!important;background: #D75395;}
.stib.line--N09:not(span):hover{color: #fff!important;background: #b42a6f;}
.stib.line--N10{color: #000!important;background: #CCDC89;}
.stib.line--N10:not(span):hover{color: #000!important;background: #b3cb4e;}
.stib.line--N11,.stib.line--N12,.stib.line--N13,.stib.line--N16,.stib.line--N18{color: #fff!important}
.stib.line--N11{background: #996308}
.stib.line--N11:not(span):hover{color: #fff!important;background: #503404;}
.stib.line--N12{background: #E87D0D}
.stib.line--N12:not(span):hover{color: #fff!important;background: #a05609;}
.stib.line--N13{background: #991F36}
.stib.line--N13:not(span):hover{color: #fff!important;background: #591220;}
.stib.line--N16{background: #80C29C}
.stib.line--N16:not(span):hover{color: #fff!important;background: #50a674;}
.stib.line--N18{background: #17A345}
.stib.line--N18:not(span):hover{color: #fff!important;background: #0e6029;}