#title-wrapper{
	background-color: rgb(115, 168, 151); /* default */
	background-image: url('/champi-parasite-des-plantes/images/P. albescens.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 45px;
	font-size: min(3.5rem, 72px);
}
#title-wrapper .title{
	font-size: 1em;
	display: inline;
	background-color: var(--basic-bg-color);
	color: var(--basic-text-color);
	padding: 0 .1rem;
	/* mix-blend-mode: lighten; */
}
#article-infos{
	margin: 10px;
	font-size: .9rem;
	font-style: italic;
}
article .main-content > *{
	margin: 50px;
}
article .main-content p{
	text-align: justify;
}
article h3{
	font-size: 1.3rem;
}
article .gallery h3{
	text-align: center;
}
article section > *{
	margin: 1rem 0;
}
#list-btn{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	border-radius: 1rem;
	color: #f5f5f5;
	text-shadow: 1px 1px #555;
	font-weight: bold;
	background-color: #06588e;
	box-shadow: 5px 5px #57838d;
	padding: 15px;
	margin: 15px auto;
	text-align: center;
	width: max-content;
	max-width: 100%;
}
#list-btn:hover{
	text-decoration: underline;
}
#list-btn img{
	width: 1rem;
	height: 1rem;
	margin-left: .3rem;
	filter: invert(100%) drop-shadow(1px 1px #555);
}
.legend{
	display: block;
	text-align: center;
	font-size: .8rem;
	font-style: italic;
	margin: 5px;
}
#anchor-container ol{
	margin-left: 2rem;
}
#anchor-container img{
	width: 720px;
	max-width: 100%;
	box-shadow: -1px -1px 10px #555;
}
table#herbier,
#herbier td{
	border: solid 1px #333
}
#herbier th{
	padding: 7px;
	background-color: #a2db8f;
}
#herbier td{
	padding: 7px;
}
#herbier td:first-of-type{
	text-align: right;
}