html{
	--timeline-margin: 13px;
	--timeline-width: 7px;
	--timeline-border-radius: calc(var(--timeline-width)/2);
	--timeline-past-color: #ccd8e6;
	--timeline-future-color: #4B68D1FF;
	--timeline-marker-color: #042e46;
	--timeline-marker-width: 20px;
	--timeline-arrow-width: calc(2.4 * var(--timeline-width));
	--timeline-created-margin: calc((var(--timeline-arrow-width) - var(--timeline-width))/2); /* represents the fake margin created by the arrow */
}

@keyframes go-to-right {
	from, to{
		transform: translateX(0);
	}
	50%{
		transform: translateX(6px);
	}
}
.go-to-next-btn{
	margin: 15px
			calc(var(--timeline-margin) + var(--timeline-created-margin))
			5px;
	font-size: 1.25rem;
	display: inline-flex;
	align-items: center;
	position: relative;
	padding-left: 1.7em;
}
.go-to-next-btn::before{
	content: "\25BA";
	position: absolute;
	left: 0;
	bottom: .1em;
	font-size: 1.45em;
	animation: go-to-right 3s infinite ease-in-out;
}

#timeline-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: center;
	margin: var(--timeline-margin);
	position: relative;
}
.timeline{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	border-radius: var(--timeline-border-radius);
	margin-right: 10px;
}
.timeline .time{
	width: var(--timeline-width);
	margin: calc(0px - var(--timeline-marker-width)/2) 0;
	box-shadow: 1px 2px 5px #00000080;
	z-index: 2;
}
.timeline .time.past{
	background-color: var(--timeline-past-color);
	border-radius: var(--timeline-border-radius) var(--timeline-border-radius) 0 0;
	max-height: calc(100% - var(--timeline-arrow-width));
	margin-top: 0;
	transition: height .015s;
}
.timeline .time.future{
	background-color: var(--timeline-future-color);
	margin-bottom: 0;
	flex: 1;
}
.timeline .marker{
	background-color: var(--timeline-marker-color);
	width: var(--timeline-marker-width);
	height: var(--timeline-marker-width);
	border-radius: 50%;
	z-index: 10;
}
.timeline svg.arrow{
	fill: var(--timeline-future-color);
	width: var(--timeline-arrow-width);
	z-index: 5;
	filter: drop-shadow(2px 2px 5px #000000a0);
}
.activities-container{
	padding: 20px 0;
	width: 100%;
}
.month .month-name{
	font-weight: 700;
}
.month ol{
	list-style-type: none;
}
.activity-wrapper{
	margin: 17px 5px;
}
.month .activity-wrapper:first-of-type{
	margin-top: 3px;
}

.season-end{
	padding: 7px;
	background-color: var(--activity-highlight-bg);
	margin-bottom: 25px;
}
.season-end h4{
	font-size: 1.3rem;
}
.season-end p{
	margin: 10px 0;
}
.season-end a.history-btn{
	display: inline-block;
}
.end-indicator{
	margin: 30px 0;
}