#subscription-mail-form h1 .activity-title{
    font-size: inherit;
    font-weight: inherit;
    font-style: italic;
}
#subscription-mail-form h1 .activity-title:before,
#subscription-mail-form h1 .activity-title:after{
    content: '"';
}
#subscription-mail-form .modal-description-container{
    margin: 20px auto;
}
#subscription-mail-form .modal-description-container .highlight{
    font-weight: 575;
}
#subscription-mail-form .input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 20px auto 35px;
}
#subscription-mail-form .input-container input{
    border: solid 1px #777;
    border-radius: 7px;
}
#subscription-mail-form .input-container input[type=email]{
    display: block;
    padding: 10px;
    width: 450px;
    max-width: 100%;
}
#subscription-mail-form label{
    display: inline-block;
}
#subscription-mail-form .text-sm{
    margin: 10px 0;
    font-size: .8rem;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

@media screen and (max-width: 720px) {
    #subscription-mail-form h1{
        padding: 0;
    }
    #subscription-mail-form .input-container .subscription-mail-wrapper,
    #subscription-mail-form .input-container input[type=email]{
        width: 100%;
    }
    #subscription-mail-form .input-container input[type=email],
    #subscription-mail-form .bottom-btn-container button{
        font-size: max(1em, 23px);
    }
}