#headTitle{
	background-color: rgb(115, 168, 151); /* default */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 45px;
	mix-blend-mode: lighten;
	font-size: min(4rem, 72px);
}
#headTitle h1{
	font-size: 1em;
	display: inline;
	background-color: var(--basic-bg-color);
	color: var(--basic-text-color);
	padding-block: .1rem;
	/* mix-blend-mode: lighten; */
}
#headerInfo{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 35px;
}
#headerInfo .info{
	background-color: var(--info-bg-color);
	padding: 15px;
	margin: 10px;
	border-radius: 15px;
	color: var(--info-text-color);
	box-shadow: 5px 5px 10px rgb(37,37,37);
	transition: box-shadow .5s;
	width: max-content;
}
#headerInfo .info:hover{
	box-shadow: 7px 7px 10px rgb(37,37,37);
}
#headerInfo .info *{
	color: inherit;
}
.info h4{
	margin-bottom: 4px;
	font-size: 1.1rem;
	text-decoration: underline;
}

.calendar{
	background-image: url("/sortie/assets/calendar.svg");
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 5px;
	padding-bottom: .1rem;
	color: black !important;
	font-weight: bold;
	display: inline-flex;
	justify-content: center;
	align-items: flex-end;
	width: 2rem;
	height: 2rem;
}
#date time{
	font-weight: bold;
	color: var(--time-text-color) !important;
}
#date #calendarContainer{
	display: flex;
	justify-content: flex-end;
	margin: 5px -10px -10px 0;
}
