$scrollbar-color: #9e9e9e;
$basic-text-color: #252525;
$basic-bg-color: #f0f0f0;
$cmb-white: #f7f7f7;
$cmb-gray: #555;
$cmb-blue: #2e4dc0;
$cmb-red: #f62a2a;
$cmb-blue-hover: #4d65bd;
$cmb-lightblue: #cfd7ea;
$cmb-btn-outline-color: #90a4ae;
$cmb-btn-padding: 7px;
$cmb-btn-padding-large: 14px;
$cmb-btn-border-radius: 8px;

// legacy variables for backward compatibility
html{
  --scrollbar-color: #{$scrollbar-color};
  --basic-text-color: #{$basic-text-color};
  --basic-bg-color: #{$basic-bg-color};
  --cmb-white: #{$cmb-white};
  --cmb-gray: #{$cmb-gray};
  --cmb-blue: #{$cmb-blue};
  --cmb-red: #{$cmb-red};
  --cmb-blue-hover: #{$cmb-blue-hover};
  --cmb-lightblue: #{$cmb-lightblue};
  --cmb-btn-outline-color: #{$cmb-btn-outline-color};
  --cmb-btn-padding: #{$cmb-btn-padding};
  --cmb-btn-padding-large: #{$cmb-btn-padding-large};
  --cmb-btn-border-radius: #{$cmb-btn-border-radius};
}
