/* règles à propos des images dans le document */
.image{
	display: grid;
	width: max-content;
	max-width: 100%;
	background-color: var(--image-border-color);
	margin: 10px;
	padding: 5px;
	border-radius: 7px;
	margin-inline: auto;
	clear: both;
}
.image.floatL{
	float: left;
	margin: 0 15px 5px 0;
}
.image.floatR{
	float: right;
	margin: 0 0 5px 15px;
}
.image > *{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.image > *:not(img){
	z-index: 10;
}
.image img{
	z-index: 5;
	max-width: 100%;
	max-height: 500px;
	border-radius: 4px;
}
.image .top{
	color: var(--image-top-text-color);
	background-color: var(--image-top-bg-color);
	height: max-content;
	padding: 5px;
	padding-bottom: 0;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 10px 9px var(--image-top-bg-color);
	opacity: 0;
	visibility: hidden;
	transition: opacity .7s ease-in-out,
				visibility .7s;
}
.image:hover .top{
	opacity: 1;
	visibility: visible;
}
.image span{ /* crédit de la photo */
	margin: 5px;
	align-self: end;
	font-weight: lighter;
	user-select: none;
	text-align: right;
	opacity: .8;
}
.image span.light{
	color: whitesmoke;
}
.image span.dark{
	color: rgb(37, 37, 37);
}

@media screen and (max-width: 600px){
	.image img{
		max-height: 700px;
	}
	.image span{ /* crédit de la photo */
		font-size: .7rem;
	}
}

.imageGroup{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.imageGroup > *{
	margin-inline: 0;
}