html{
	--scrollbar-color: rgb(158, 158, 158);
	--basic-text-color: rgb(37, 37, 37);
	--basic-bg-color: rgb(240, 240, 240);
	--legal-text-color: rgb(135, 135, 135);
	/* article */
	--info-bg-color: rgb(81, 113, 105);
	--info-text-color: rgb(240, 240, 240);
	--time-text-color: rgb(226, 183, 43);
	--time-text-past-event: var(--basic-text-color);
	--time-bg-past-event: rgb(255, 87, 87);
	--info-location-icon: rgb(209, 82, 82);
	/* images */
	--image-border-color: rgb(104, 101, 51);
	--image-top-text-color: rgb(240, 240, 240);
	--image-top-bg-color: rgb(37, 37, 37, .7);
}
*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	font-size: 1rem;
	text-decoration: none;
	background: none;
	border: none;
	color: inherit;
	scroll-behavior: smooth;
}
html, body{
	height: 100%;
	color: var(--basic-text-color);
}
main{
	flex-grow: 1;
	width: 100%;
}
body{
	display: flex;
	flex-direction: column;
}
body > header > div, body > main, body > footer > div{ /* Limiter la taille à max 2400px et center */
	margin-inline: auto;
	max-width: 2400px;
}

/* ScrollBar */
::-webkit-scrollbar{ 
	width: 9px;
	height: 9px;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--scrollbar-color);
}
::-webkit-scrollbar-track{
	background-color: var(--basic-bg-color);
}
html{
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color) var(--basic-bg-color);
}

/* Navbar */
body > header{
	position: sticky;
	top: 0;
	background-color: var(--basic-bg-color);
	min-width: max-content;
	z-index: 100;
}
body > header > div{
	display: flex;
	padding: 5px 15px;
}
#topTitle{
	display: grid;
}
#topTitle > *{
	grid-row: 1/2;
	grid-column: 1/2;
}
#title{
	display: flex;
}
#title svg{
	width: 2rem;
	height: 2rem;
}
#menuBtn svg{
	width: 3rem;
	height: 3rem;
	stroke: var(--basic-text-color);
	fill: var(--basic-text-color);
}
#menuBtn{
	cursor: pointer;
	display: none;
	margin-left: auto;
}
#title h1{
	font-size: 2rem;
	margin-left: 5px;
}
#title h1 span{
	font-size: .5em;
	margin: 0 .2em;
}
body > header nav{
	display: flex;
	margin: auto;
}
body > header nav a{
	font-size: 1.5rem;
	font-weight: bold;
	padding: 5px 10px;
	margin: 0 2px;
	text-transform: capitalize;
	white-space: nowrap;
	border: transparent 2px solid;
	border-radius: 5px;
}
body > header nav a:hover{
	border-color: var(--basic-text-color);
}

@media screen and (max-width: 1340px) {
	#title{
		margin: auto;
		padding-left: 5px;
		padding-right: calc(3rem + 5px);
	}
	#menuBtn{
		display: block;
		width: max-content;
	}
	body > header > div, body > header nav{
		flex-direction: column;
	}
	body > header nav{
		width: 100%;
		overflow: hidden;
	}
	body > header nav a{
		width: 100%;
		margin: 0;
		font-size: 2rem;
	}
	body > header nav a:hover, body > header nav a:focus{
		background-color: var(--basic-text-color);
		color: var(--basic-bg-color);
		outline: none;
	}
	body > header nav:focus-within{
		height: auto !important;
	}
	body > header nav:not(.visible){
		height: 0;
	}
}

/* Footer */
@keyframes slide-in {
	from{
		transform: translateX(50px);
		overflow-x: hidden;
	}
	to{
		transform: translateX(0);
		overflow-x: hidden;
	}
}
body > footer{
	background-color: var(--basic-bg-color);
}
body > footer a:hover{
	text-decoration: underline;
}
body > footer h3{
	font-size: 1.2rem;
	margin-bottom: 5px;
}
#footer{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	overflow: hidden;
}
#texts{
	flex: 2;
	display: grid;
	min-width: 310px;
	margin: 15px;
}
#texts p{
	text-align: justify;
}
#texts section{
	grid-row: 1/2;
	grid-column: 1/2;
	transition: visibility .4s,
				opacity .4s;
}
#texts section:target{
	visibility: visible !important;
	opacity: 1 !important;
	animation: slide-in .4s ease-out;
}
#texts section:not(:last-child), #texts section:target ~ section:not(:target){
	visibility: hidden;
	opacity: 0;
}

#texts ul{
	padding-inline-start: 20px;
}
#credit li::first-letter{
	text-transform: uppercase;
}

#links{
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}
#utils, #legal{
	margin: 15px;
	min-width: max-content;
	flex: 1;
}
#utils ul{
	padding-inline-start: 15px;
	margin: 7px 0;
	border-right: solid 5px transparent;
}
#utils ul:hover{
	border-right-color: var(--basic-text-color);
}
#utils li{
	padding-left: .4rem;
	text-transform: capitalize;
}
#utils li::marker{
	content: url("/mainassets/mushroom-marker.svg") / ".";
}
#cmbLogo{
	float: left;
	margin: 0 5px 5px 0;
}
#cmbLogo svg{
	width: 5rem;
	height: 5rem;
}

#legal{
	border-right: solid 5px transparent;
	padding-right: 7px;
	height: max-content;
}
#legal:hover{
	border-color: var(--legal-text-color);
}
#legal a{
	display: block;
	color: var(--legal-text-color);
}
#legal a:not(:first-child){
	margin-top: .3rem;
}

#copy{
	flex: 100%;
	margin: 7px auto;
	text-align: center;
}