body > main > header .title-container{
	background-color: rgb(115, 168, 151); /* default */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right 50% top 30%;
	background-image: url('/images/Mycena_inclinata_II.JPG');
	width: 100%;
	padding: 140px 40px;
}
body > main > header h1{
	display: inline;
	font-size: 4rem;
	background-color: var(--basic-bg-color);
	color: var(--basic-text-color);
	padding: 0 .1rem;
}
body > main > header > p{
	padding: 10px 20px;
	margin: 10px;
	border-bottom: solid 1px #000;
}
#activity-title{
	font-size: 2rem;
	margin: auto;
	width: max-content;
	text-align: center;
	max-width: 100%;
	text-shadow: 1px 1px #d6d6d6;
}