.tip{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #f5f5f5e0;
	position: relative;
	margin-top: 7px;
	border-color: #555 !important;
	border-left: 5px solid;
	border-radius: 5px;
	width: max-content;
	max-width: 100%;
}
.tip > img{
	width: 1.8rem;
	height: 1.8rem;
	margin: 2px 0 2px 3px
}
.tip p{
	margin: 10px 5px;
}
.tip a{
	font-weight: 600;
}
.tip a:hover{
	text-decoration: underline;
}